<h1 class="header">Register: Step 3</h1>

<p>Select you default options. These can be changed at any time.</p>

<%= render "shared/simple_error_messages", :target => @registration_step3_command %>
<%= form_for(@registration_step3_command, :url => {:action => 'step3_complete'} ) do |f| %>
<table class="form"> 
 <tr>
   <td class="label"><%= f.label :default_visibility, 'Who can see posts?' %></td>
   <td class="field">Anyone: <%= f.radio_button :default_visibility, :public %></td>
   <td class="field">My team:<%= f.radio_button :default_visibility, :private %></td>
 </tr>
</table>
<%= f.submit :value => 'Complete', :class => 'submit default_button' %>
<% end %>


