<h1>Register: Step 2</h1>

<p>Enter your logon details. Please note your user name should be your
email address. You can add other users after registration.</p>

<%= render "shared/simple_error_messages", :target => @registration_step2_command %>
<%= form_for(@registration_step2_command, :url => {:action => 'step2_complete'} ) do |f| %>
<table class="form">
 <tr>
   <td class="label"><%= f.label :user_name, 'Your username:' %></td>
   <td class="field"><%= f.text_field :user_name, :size => 32 %></td>
 </tr>
 <tr>
   <td class="label"><%= f.label :given_names, 'Given name(s):' %></td>
   <td class="field"><%= f.text_field :given_names, :size => 32 %></td>
 </tr>
 <tr>
   <td class="label"><%= f.label :family_name, 'Family name:' %></td>
   <td class="field"><%= f.text_field :family_name, :size => 32 %></td>
 </tr>
 <tr>
   <td class="label"><%= f.label :password, 'Your password:' %></td>
   <td class="field"><%= f.password_field :password, :size => 16 %></td>
 </tr>
 <tr>
   <td class="label"><%= f.label :password_confirmation, 'Confirm password:' %></td>
   <td class="field"><%= f.password_field :password_confirmation, :size => 16 %></td>
 </tr>

</table>
<%= f.submit :value => 'Continue' %>
<% end %>


