<div class="content_item_summary">
  <div class="content_item_header">
	  <h3><%= link_to result['name'],  :controller => 'content', :action => 'view', :id => result['id']%> </h3>
      <span class="author"><%= result[:last_modified][:name] %>
<%= "#{distance_of_time_in_words(result[:last_modified][:date],Time.new.utc.localtime)} ago"   %>
  </span>
  </div>
  <%= result['summary'] %> </br>
  Tags: 
  <% result['tags'].each do |tag|  %> 
     <%= link_to tag,  :account_name => account_name, :controller => 'tag', :action => 'view', :name => tag, :id => nil %> &nbsp;  
  <% end %>
 <div class="credits">  
   Created by <%= result[:created][:name] %> at <%=result[:created][:date].to_formatted_s(:nice)%>. 
   <% if result[:updated]  %>
     Last changed by  <%= result[:updated][:name] %> at <%=result[:updated][:date].to_formatted_s(:nice)%>
   <% end %>
 </div>
</div>

