<h1 class="header">Member Login</h1>
	
<%= render "shared/error_messages", :target => @user %>
<%= form_tag({:action => :login}) do %>  
    <p>
      User name: <%= text_field_tag 'user_name' %>
    </p>
    <p>
      Password: <%= password_field_tag 'password' %>
    </p>
    <%= submit_tag 'Login' %>
<% end %> 


